
.images{
  width: 383px; left: 0px; top: 0px;
}
.cbp .cbp-item,
.cbp-wrapper{
  position: unset !important;
}

.cbp-wrapper, .cbp-wrapper-helper{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
